
#box{
    height: 1350px;
    
    width: 750px;
    background-color: rgb(46, 139, 87, 0.25);
    padding: 25px;
    font-family: cursive;
    box-shadow: 20px 20px 20px #98FB98;
    font-weight: 400;
}
h1{
    text-align: center;
    font-size: 75px;
    margin: 10px auto  0px auto;
    text-shadow: 5px 5px 10px rgb(161, 225, 247);
}
img{
    position: relative;
    left: 300px;
    height: 25%;
    width: 55%;
    box-shadow: 10px 10px 10px black;
}
.kas{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px black;
    font-size: 35px ;
    /* background-color: rgb(46, 139, 87, 0.25); */
    font-family: none !important;
    
}
.foot{
    text-align: center;
    font-size: 20px;
}
*{
    /* background-color: #00FA9A; */
    margin: 20px auto;
    display: black;
}
a{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-size: 30px;
    font-weight: 300;
}